# Before you start :
   - These exercises are related to the Subsetting and Descriptive Stats lessons.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in the `your-code` folder of this lab.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly enjoy the process!!!

#### Import all the libraries that are necessary

In [ ]:
import pandas as pd
import statistics as stats
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

# Challenge 1

#### In this challenge we will use the `Temp_States.csv` file. 

#### First import it into a data frame called `temp`.

In [ ]:
temp= pd.read_csv("Temp_states.csv")

#### Print `temp`

In [ ]:
print (temp)

#### Explore the data types of the Temp dataframe. What type of data do we have? Comment your result.

In [ ]:
temp.dtypes

* Tenemos  dos [tipos](https://datacarpentry.org/python-ecology-lesson/04-data-types-and-format/): "object", que nos indica que vamos a encontrarnos un valor no puramente numérico y;  float64, que por un lado ( float) nos dice que es valor numérico que contiene decimales, y por otro (64) nos dice el espacio que se reserva en la memoria para mostrarlo

#### Select the rows where state is New York

In [ ]:
temp[temp["State"] == "New York"]

#### What is the average of the temperature of cities in New York?

In [ ]:
temp[temp["State"] == "New York"].Temperature.mean()

#### We want to know cities and states with Temperature above 15 degress Celcius

In [ ]:
temp[temp["Temperature"] > 15 ]

#### Now, return only the cities that have a temperature above 15 degress Celcius

In [ ]:
temp.loc [(temp["Temperature"]> 15 ), ["City", "Temperature"]]

#### We want to know which cities have a temperature above 15 degrees Celcius and below 20 degrees Celcius

*Hint: First write the condition then select the rows.*

In [ ]:
temp.loc[(temp["Temperature"] > 15) & (temp["Temperature"] < 20), ["City", "Temperature"]]

#### Find the mean and the standard deviation of the temperature of each state.

*Hint: Use functions from Data Manipulation lesson*

In [ ]:
def media_ (estado):
    return temp[temp["State"] == estado].Temperature.mean()

In [ ]:
def desviacion_ (estado):
        return stats.stdev( temp[temp["State"] == estado].Temperature)

In [ ]:
temp.groupby ("State").Temperature.mean()

In [ ]:
temp.groupby ("State").Temperature.std()

# Challenge 2

#### Load the `employee.csv` file into a DataFrame. Call the dataframe `employee`

In [ ]:
employee= pd.read_csv("employee.csv")

#### Explore the data types of the Temp dataframe. Comment your results

In [ ]:
employee

In [ ]:
employee.dtypes

Un poco lo mismo que en la anterior, pero tenemos int64, que nos indica que serán valores numéricos enteros

#### Show visually the frequency distribution (histogram) of the employee dataset. In few words describe these histograms?

In [ ]:
sns.histplot(employee)

In [ ]:
sns.histplot(employee.Gender)

Hay más hombres que mujeres, pero no parece siginificativo teniendo en cuenta la diferencia y el tamaño del data. Eso sí, en términos porcentuales es una diferencia grande

In [ ]:
sns.histplot(employee.Salary)

Aparecen 2 tramos claramente diferenciados, un tramo entre 30 y 38 y otro tramo entre 54 y 70. En este ultimo tambien hay diferencias, pero la más notable es la primera que indico. Se me ocurren 2 explicaciones, que sean becarios o empleados a media jornada.

In [ ]:
sns.histplot(employee.Years)

La mayoria de la plantilla es nueva, y un grupo significativo lleva mas tiempo, esto puede indicar que ese grupo son los creadores o fundadores de la empresa y o bien la empresa ha ido creciendo hasta alcanzar los empleados actuales, o bien hay rotación de empleados.

In [ ]:
sns.histplot(employee.Title)

No se muy bien lo que es esta columna, en cualquier caso se ve que la empresa necesita 2 analistas por cada vp, y 1 asociado por cada vp

In [ ]:
sns.histplot(employee.Department)

In [ ]:
sns.histplot(employee.Education)

Nos encontramos con que lo normal es tener un máster, pero también tenemos un grupo amplio de empleados con un bachelor, y un doctorado

In [ ]:
sns.catplot(data=employee, x="Gender", y="Salary", kind="bar")

#### What's the average salary in this company?

In [ ]:
employee.Salary.mean()

#### What's the highest salary?

In [ ]:
employee.Salary.max()

#### What's the lowest salary?

In [ ]:
employee.Salary.min()

#### Who are the employees with the lowest salary?

In [ ]:
employee.loc[(employee["Salary"] < employee.Salary.mean())]

#### Could you give all the information about an employee called David?

In [ ]:
employee.loc[(employee["Name"]== "David")]

#### Could you give only David's salary?

Le incluyo el nombre, en Ironhack estamos en contra de la cosificación de los empleados!

In [ ]:
employee.loc[(employee["Name"]== "David", ["Name","Salary"])]

#### Print all the rows where job title is associate

In [ ]:
employee.loc[(employee["Title"]== "associate")]

#### Print the first 3 rows of your dataframe

##### Tip : There are 2 ways to do it. Do it both ways

In [ ]:
employee.head (3)

In [ ]:
employee.iloc[:3]

#### Find the employees who's title is associate and the salary above 55?

In [ ]:
employee.loc[(employee["Title"]== "associate") & (employee["Salary"] > 55) ]

#### Group the employees based on their number of years of employment. What are the average salaries in each group?

In [ ]:
employee.groupby ("Years").mean()

####  What is the average Salary per title?

In [ ]:
employee.groupby("Title").mean()

#### Show a visual summary of the data using boxplot. What Are the First and Third Quartiles? Comment your results.
##### * Hint : Quantiles vs Quartiles*
##### - `In Probability and Statistics, quantiles are cut points dividing the range of a probability distribution into continuous intervals with equal probabilities. When division is into four parts the values of the variate corresponding to 25%, 50% and 75% of the total distribution are called quartiles.`

In [ ]:
sns.boxplot (employee.Salary)

La mediana se encuentra en 55, , el primer cuartil lo tenemos en 35, que quiere decir que el 25% de los empleados ganan menos que eso. El tercer cuartil lo encontramos en 60 y significa que el 25% de los empleados ganan más que eso, el 50% restante, se deduce que se situa entre ambos, es decir, entre los valores 35 y 60.

No sé exáctamente lo que me piden las siguientes preguntas, asi que pongo mis dos posibles respuestas: lo que se encuentra dentro del percentil, y el valor ultimo de este.

In [ ]:
pd.Series(employee.Salary).quantile(np.linspace(0,0.25, 5))

In [ ]:
pd.Series(employee.Salary).quantile(np.linspace(0.25,0.25, 1))

In [ ]:
pd.Series(employee.Salary).quantile(np.linspace(0, 0.75, 5))

In [ ]:
pd.Series(employee.Salary).quantile(np.linspace(0.75, 0.75, 1))

#### Is the mean salary per gender different?

In [ ]:
employee.groupby("Gender").Salary.mean()

Si, es diferente

#### Find the minimum, mean and the maximum of all numeric columns for each Department.

##### Hint: Use functions from Data Manipulation lesson

In [ ]:
employee.groupby ("Department").Salary.mean()

In [ ]:
employee.groupby ("Department").Salary.min()

In [ ]:
employee.groupby ("Department").Salary.max()

In [ ]:
employee.groupby ("Department").Years.mean()

In [ ]:
employee.groupby ("Department").Years.min()

In [ ]:
employee.groupby ("Department").Years.max()

### Bonus Question

#### For each department, compute the difference between the maximal salary and the minimal salary.

##### * Hint: try using `agg` or `apply` and `lambda`*

In [ ]:
employee.groupby ("Department").Salary.max() - employee.groupby ("Department").Salary.min()

Ni me creo que esto ultimo haya funcionado

# Challenge 3

#### Open the Orders.csv dataset. Name your dataset orders

In [ ]:
orders= pd.read_csv("Orders.zip", index_col=0)

#### Explore your dataset by looking at the data types and the summary statistics. Comment your results

In [ ]:
orders

In [ ]:
orders.info ()

Esto parece un poco mas grande que los anteriores, los datos son mas variados y tiene de todo. Aparentemente está limpio, con int o float en lo que deberian ser numéricos

####  What is the average Purchase Price?

In [ ]:
orders.amount_spent.mean()

In [ ]:
orders.UnitPrice.mean()

#### What were the highest and lowest purchase prices?

In [ ]:
orders.amount_spent.min()

In [ ]:
orders.UnitPrice.min()

In [ ]:
orders.amount_spent.max()

In [ ]:
orders.UnitPrice.max()

#### Select all the customers we have in Spain

In [ ]:
orders.loc[orders.Country=="Spain","CustomerID"].unique()

In [ ]:
orders[orders.Country=="Spain"].drop_duplicates(subset="CustomerID")

#### How many customers do we have in Spain?
##### Hint : Use value_counts()

In [ ]:
len (orders.loc[orders.Country=="Spain","CustomerID"].unique())

#### Select all the customers who have bought more than 50 items ?

In [ ]:
orders.groupby(["CustomerID"]).size().loc[lambda x: x>50]

#### Select orders from Spain that are above 50 items

In [ ]:
orders.loc[(orders["Country"]== "Spain") & (orders["Quantity"] >= 50)]

#### Select all free orders

In [ ]:
orders[orders["amount_spent"]==0]

#### Select all orders that are 'lunch bag'
#### Hint: Use string functions

In [ ]:
orders[orders["Description"].str.contains ("lunch bag")]

#### Select all orders that are made in 2011 and are 'lunch bag'

In [ ]:
orders.loc[(orders["year"]== 2011) & (orders["Description"].str.contains ("lunch bag"))]

#### Show the frequency distribution of the amount spent in Spain.

In [ ]:
reducido=orders.loc[(orders["Country"]== "Spain", ["Country","amount_spent"])].reset_index(drop=True)
reducido

In [ ]:
sns.boxplot (reducido.amount_spent)

In [ ]:
sns.boxplot (np.log(reducido.amount_spent))

En la primera gráfica hemos visto que la frecuencia se concentra las compras de poco valor, y que tenemos bastantes outlaiers, algunos de ellos muy diferenciados. En la segunda rebajo la escala con un logaritmo para verlo mejor.

Y ahora haré lo mismo con un histplot. Como da problemas, he supuesto que serán por los 0, asi que primero los voy a contar para ver si son pocos y puedo borrarlos.

In [ ]:
reducido.groupby(["amount_spent"]).size().loc[0]

In [ ]:
reducido2=reducido[~(reducido == 0).any(axis=1)]

In [ ]:
sns.histplot (np.log2(reducido2.amount_spent))

#### Select all orders made in the month of August

In [ ]:
orders.loc[orders["month"]== 8]

#### Select how many orders are made by countries in the month of August
##### Hint: Use value_counts()

Seguro que con el value_counts debe ser supersencillo, pero la verdad que no sé como aplicarlo.

In [ ]:
orders.loc[(orders["month"]== 8 )].groupby("Country").size()

#### What's the  average amount of money spent by country

In [ ]:
orders.groupby ("Country").amount_spent.mean()

#### What's the most expensive item?

In [ ]:
orders.loc[orders["UnitPrice"]== orders["UnitPrice"].max()]

#### What was the average amount spent per year ?

In [ ]:
orders.groupby ("year").amount_spent.mean()